/*########## OUR CSS ##########*/

/*Typography*/
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body{font-family:'Source Sans Pro',Arial,sans-serif;}
h1,h3,header>p{font-family:Satisfy,Arial,sans-serif;}
#subtitle{font-family:Lora,Arial,serif;}
h1{font-size:7em;}
h2{font-size:2em;}
h3{font-size:1.4em;}
header>p{font-size:1.5em;}
body>div>header,#download header,footer>header{font-family:Satisfy;font-size:3.5em;text-align:center;}

/*General*/

a *{cursor:pointer !important;}
body *{text-decoration:none;color:#fff;}
h2{margin-top:10px;}
header>p{margin-top:30px;}
header>img{width:125px;}
header>div{margin:10px 0 25px 0;}
header>div>a{margin-top:10px;}
body>div>header,#download header{
	margin:20px 0 30px 0;}
body>div>header{background:#fff;}
#download header{background:#804ee0;}
footer>header{background:#2c3e50;}

body>div>div{width:100%;}
body>div>div>div>a:hover{text-decoration:underline;}

/*PRESENTATION STUFF*/
#presentation{
	background: url(../img/backgrounds/desert.png) no-repeat center bottom;
	background-size: cover;
	box-shadow: 0px -20px 30px rgba(0,0,0,0.2);
	padding-top: 30px;
	padding-bottom: 30px;
}

#presentation #gallery img{
	float : left;
	max-width: 100px;
	margin-right : 10px;
	margin-bottom : 10px;
}

#presentation header{
	background: none;
	
}

#about img{
	display:inline-block;
	margin-right: 5px;
}

header{
	text-shadow : 0px 1px 0px rgba(0,0,0,0.1);
}

#presentation>h2{
	text-align: center;
	font-family : "Satisfy";
	font-size : 3.5em;

}



#creators>.row>div>div:nth-child(1){
	width:100px;height:100px;
	border-radius:100px;
	margin: auto;
}

#creators>.row>div{
	text-align: center;
}

#creators>.row>div{
	margin-bottom: 30px;
}

#creators a i{
	padding: 5px;
}
#creators a:hover i{
	background-color: lightblue;
	color : white;
}
header{background: url(../img/backgrounds/bg1.jpg) no-repeat center bottom fixed;}

#creators *{color:#000;}
#creators>.row>div:nth-child(1)>div:nth-child(1){background: url(../img/maelle-carlier.jpg) no-repeat 10% 70%; background-size:210px 140px;}
#creators>.row>div:nth-child(2)>div:nth-child(1){background: url(../img/pierre-claisse.jpg) no-repeat 0% 10%; background-size:145px 145px;}
#creators>.row>div:nth-child(3)>div:nth-child(1){background: url(../img/lucas-horand.jpg) no-repeat 90% top	; background-size:105px 105px;}
#creators>.row>div:nth-child(4)>div:nth-child(1){background: url(../img/yohan-lebreton.jpg) no-repeat top left; background-size:100px 100px;}
#creators>.row>div:nth-child(5)>div:nth-child(1){background: url(../img/bettina-migot.jpg) no-repeat left center; background-size:100px 100px;}
#creators>.row>div:nth-child(6)>div:nth-child(1){background: url(../img/celine-noel.jpg) no-repeat right top; background-size:110px 110px;}
#creators>.row:last-child>div:nth-child(1)>div:nth-child(1){background: url(../img/zephyr-perrier.jpg) no-repeat center center; background-size:110px 110px;}
#creators>.row:last-child>div:nth-child(2)>div:nth-child(1){background: url(../img/pierre-villenave.jpg) no-repeat center center; background-size:110px 110px;}
.bg-cover{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
footer{background:#2c3e50;padding:20px 0 10px 0;}
footer>p{text-align:center;font-size:1.5em;}
html, body{
	height : 100%;
	width : 100%;
}
#titleScreen{
	display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;
	min-height : 100%;
	padding : 40px 0px 40px 0px;
}
#titleScreen>div{
	display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;
	width:120px;
}
#titleScreen #headerQuickLinks a:hover i{
	color : #ddd;
}

.wrap{
	max-width : 980px;
	margin:auto;
}
#download li:hover *{color:#400aa0;}

.code{
	font-family:Courier;
	background:#602cc0;
	cursor:grabbing;
	border-left: solid 3px #fff;
	width : 100%;
	padding : 10px;
	
}

#download{
	background:#804ee0;
	text-align:center;
	padding-bottom: 30px;
}

#download ul{text-align:left;}
#download ul p,#download *{display:inline-block;}
#download ul li{display:block;}
#download p{padding-left:20px;position:relative;top:-10px;}



@media screen and (min-width: 700px) {
	body>header>h1 {font-size:12.5em !important;}
	body>header>h2 {font-size:2.5em !important;}
	body>header>p {font-size:2em !important;}
}
